#body
{
   background-color:#000000;
   background-position:center;
   background-size:100%;
   background-attachment:scroll;
}

#head
{
    font-size:900%;
    color:#FFC733;
    text-align:center;
}

#head:hover
{
    font-size:1000%;
    color:#FF6433;
    text-align:center;
}

#photo
{
    border-radius:20%;
    height:50%;
    width:25%;
}


#nam
{
     font-size:450%;
    color:#FFC733;
}

#nam:hover
{
     font-size:500%;
    color:#FF6433;
}

.tabs
{
    background-color:#FF9033;
    float:left;
    padding: 4%;
    margin: 0.2%;
    font-size: 150%;
}

.tabs:hover
{
    background-color:#FF6433;
    color:#FFFFFF;
    float:left;
    padding: 5%;
    margin: 1%;
    font-size: 150%;
}

.top
{
    color:93FF1A;
    font-size:300%;
    margin-left:20%;
    margin-bottom:2%;
    margin-top:3%;
}

.top:hover
{
    color:93FF1A;
    font-size:350%;
    margin-left:20%;
    margin-bottom:2%;
    margin-top:3%;
}

.subtop
{
    color:#D5FF03;
    font-size:200%;
    margin-left:25%;
    margin-bottom:1%;
}

.subtop:hover
{
    color:#D5FF03;
    font-size:250%;
    margin-left:25%;
    margin-bottom:1%;
}

.sub
{
    color:#FFE803;
    font-size:150%;
    margin-left:25%;
    margin-bottom:1%;
    text-decoration:none;
}

.sub:hover
{
    color:#FFCD03;
    font-size:220%;
    margin-left:25%;
    margin-bottom:1%;
    text-decoration:none;
}

.back
{
    float:right;
    color:#FFFFFF;
    font-size:260%;
    margin-left:25%;
    margin-bottom:1%;
}

.back:hover
{
    float:right;
    color:#FF0303;
    font-size:300%;
    margin-left:25%;
    margin-bottom:1%;
}

.fa {
  float:right;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
